@import "../styles/index";

.mit-col {
    float: left;
    box-sizing: border-box;
    width: 0;
}

genColStyle(num) {
	.mit-col-{num} { width: ( num * 100% / $column)  }
	.mit-col-offset-{num} { margin-left: (num * 100% / $column)}
}

for $i in 1..$column{
	genColStyle($i)
}
