@import "../styles/index";

$gridPrefixCls = $prefix + '-grid';

.{$gridPrefixCls}-item{
	margin-left: 0;
	float: left;
	background-color: $background-color-base;
	position: relative;
	hairline('right');

	&:active{
		background-color: $background-color-tap;
	}

	.{$gridPrefixCls}-item-content{
		text-align: center;
		width: 100%;
		height: 100%;
		hairline('bottom');

		.{$gridPrefixCls}-item-inner-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.{$gridPrefixCls}-icon{
				max-width: 100%;
			}

			.{$gridPrefixCls}-text {
				margin-top: $v-spacing-md;
				font-size: $font-size-sm;
				color: $color-text-base;
				text-align: center;
			}

			&.column-num-3 {
				.{$gridPrefixCls}-text {
					font-size: $size-font-base;
				}
			}

			&.column-num-2 {
				.{$gridPrefixCls}-text {
					margin-top: $v-spacing-lg;
					font-size: $font-size-base;
				}
			}
		}
	}
}

.{$gridPrefixCls}-item {
	&::before {
		display: block;
		content: '';
		padding-bottom: 100%;
	}
	.{$gridPrefixCls}-item-content {
		position: absolute;
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);
	}
	.{$gridPrefixCls}-item-inner-content {
		height: 100%;
		.{$gridPrefixCls}-icon {
			margin-top: $v-spacing-md;
			width: 28%!important;
		}
	}
}
