@import "../styles/index"
@import "../styles/mixins/animation";

$prefixTopTips = $prefix + '-toptips'

.{$prefixTopTips}{

	&-wrap{
	    transform: translate3d(0, -100%, 0);
	    transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 500ms;
		width: 100%;
		left: 0;
		top: 0;
		position: fixed;
		z-index: $zindex-toptips;
		visibility: hidden;
		color: #fff;
		word-wrap: break-word;
		word-break: break-all;
		padding: 10rpx;
		text-align: center;
		font-size: 28rpx;
		height: 40rpx;
		line-height: 40rpx;

		&&-success{
			background-color: $brand-color-success;
		}

		&&-info{
			background-color: $brand-color-green;
		}

		&&-warn{
			background-color: $brand-color-warning;
		}

		&&-error{
			background-color: $brand-color-red;
		}

		&&-default{
			background-color: $brand-color-dark-blue;
		}
	}

	&-wrap.show{
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}

}
