@import "../styles/index";
@import "../styles/mixins/hairline.styl";

.{$prefix}-cell {
  display: flex;
  &-container, &-container-slot{
    flex: 1;
    font-size: $size-font-base;
    padding: $padding-base 0;
    margin: 0 $margin-base;
    position: relative;
    hairline('bottom');
  }
  &-container{
    display: flex;
    box-pack: justify
    justify-content: space-between;
  }
  &&-with-link {
    display: block;
  }
  &-label {
    font-size: $size-font-small;
    color: $subsidiary-color;
  }
  &-right-container {
    display: flex;
    align-items: center;
    .{$prefix}-cell-link {
      color: $subsidiary-color;
    }
  }
  &-last {
    .{$prefix}-cell-container {
      hairline-remove('bottom');
    }

  }
}
