@import "../styles/default";
page {
  background-color: $background-color-base;
}
.{$prefix}-panel {
  font-size: $size-font-base;
  &-title {
    padding: $padding-base;
  }
  &-info {
    background-color: $default-bg-color;
    border-top: 1px solid $border-color-base;
    border-bottom: 1px solid $border-color-base;
    padding: $padding-base;
  }
}

