@import "../styles/index";
page {
  background-color: $background-color-body;
}
.{$prefix}-panel {
  font-size: $size-font-base;
  &-title {
    padding: $padding-base;
  }
  &-info {
    background-color: $background-color-base;
    position: relative;
    hairline('bottom');
    hairline('top');
    &&-without-border {
      border: none;
    }
  }
}
