@import "../styles/index";
page {
  background-color: $background-color-body;
}
.{$prefix}-panel {
  font-size: $size-font-base;
  &-title {
    padding: $padding-base;
  }
  &-info {
    background-color: $background-color-base;
    border-top: 1px solid $border-color-base;
    border-bottom: 1px solid $border-color-base;
    &&-without-border {
      border: none;
    }
  }
}
