@import "../styles/index";
@import "../styles/mixins/hairline.styl";


.{$prefix}-tabs {
  position: relative;
  background-color: $background-color-base;
  display: flex;
  box-pack: justify;
  hairline('bottom')
  padding: $padding-base;
  &-scroll {
    overflow-x: scroll;
    white-space: nowrap;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}
