@import "../styles/index";

$actionSheetPrefixCls = $prefix + '-action-sheet'

.{$actionSheetPrefixCls}{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: $background-color-base ;

	&&-share {
	    background-color: #f2f2f2;
	}
	&-title,
	&-message {
		margin: $h-spacing-lg auto;
		padding: 0 $h-spacing-lg;
		text-align: center;
	}

	&-title{
		font-size: $font-size-heading;
	}
	&-message{
		color: $color-text-caption;
		font-size: $font-size-base;
	}

	&-button-list{
	    text-align: center;
    	color: @color-text-base;

		&-item{
			font-size: $actionsheet-item-font-size;
			padding: 0;
			margin: 0;
			position: relative;
			height: $actionsheet-item-height;
			line-height: $actionsheet-item-height;
			box-sizing: border-box;
		    // .hairline('top');
		    &&-active {
				background-color: $background-color-tap;
		    }
		}

		.{$actionSheetPrefixCls}-cacel-button{
			margin-top: @v-spacing-sm;
			position: relative;

			&-mask{
				position: absolute;
		        top: -$v-spacing-sm;
		        left: 0;
		        width: 100%;
		        height: $v-spacing-sm;
		        background-color: #e7e7ed;
			}
		}

		.{$actionSheetPrefixCls}-destructive-button {
	      	color: $brand-color-error;
	    }
	}
}

// Base_stylus
.{$actionSheetPrefixCls}{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #fff;

	&-wrap {
		position: fixed;
	    overflow: auto;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: $action-sheet-zindex;
	    -webkit-overflow-scrolling: touch;
	    outline: 0;
	}

	&-mask {
		position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    background-color: $background-color-mask;
	    height: 100%;
	    z-index: $action-sheet-zindex;
	}

	&-hidden {
    	display: none;
    }

	&-close {
    	display: none;
	}

}
