@import "../styles/index";

$actionSheetPrefixCls = $prefix + '-action-sheet'

.{$actionSheetPrefixCls}{
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: $background-color-base;

	&&-share {
	    background-color: #f2f2f2;
	}
	&-title,
	&-message {
		margin: $h-spacing-lg auto;
		padding: 0 $h-spacing-lg;
		text-align: center;
	}

	&-title{
		font-size: $font-size-heading;
	}
	&-message{
		color: $color-text-caption;
		font-size: $font-size-base;
	}

	&-button-list{
	    text-align: center;
    	color: @color-text-base;

		&-item{
			font-size: $actionsheet-item-font-size;
			padding: 0;
			margin: 0;
			position: relative;
			height: $actionsheet-item-height;
			line-height: $actionsheet-item-height;
			box-sizing: border-box;
		    hairline('top')
		    &:active {
				background-color: $background-color-tap;
		    }
		}

		.{$actionSheetPrefixCls}-cancel-button{
			margin-top: $v-spacing-sm;
			position: relative;

			&-mask{
				position: absolute;
		        top: -($v-spacing-sm);
		        left: 0;
		        width: 100%;
		        height: $v-spacing-sm;
		        background-color: #e7e7ed;
			}
		}

		.{$actionSheetPrefixCls}-destructive-button {
	      	color: $brand-color-error;
	    }

		&-cancel-button {
			height: $actionsheet-item-height;
			line-height: $actionsheet-item-height;
			text-align: center;
			background-color: $background-color-base;
			color: $color-text-base;
			font-size: 24rpx;
			position: relative;
			hairline('top')
			box-sizing: border-box;

			&:active {
				background-color: $background-color-tap;
			}
		}
	}
}

// Base_stylus
.{$actionSheetPrefixCls}{

	&-wrap {
		-webkit-transform: translate3d(0, 100%, 0);
	    transform: translate3d(0, 100%, 0);
		-webkit-transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 500ms;
	    transition: all cubic-bezier(0.36, 0.66, 0.04, 1) 500ms;
	    position: fixed;
		width:100%;
		box-sizing:border-box;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    background-color: white;
	    z-index: 2020;
		visibility: hidden;
		min-height: 200px;
	}
	&-wrap.action-sheet-up {
	    transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	&-mask {
		position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    background-color: $background-color-mask;
	    height: 100%;
	    z-index: $action-sheet-zindex;
		-webkit-transition: background-color 150ms ease-in-out;
	    transition: background-color 150ms ease-in-out;
	    width: 100%;
	}

	&-close {
    	display: none;
	}

}
.hidden {
	visibility: hidden;
}
