@import "../styles/default";

.{$prefix}-card {
  background-color: $background-color-base;
  .{$prefix}-card-title {
    padding: $padding-base;
    font-size: $size-font-base;
    background-color: $card-bg;
    border-bottom: 1px solid $border-color-base;
  }
  .{$prefix}-card-body {
    padding: $padding-base;
    font-size: $size-font-base;
    background-color: $background-color-base;
  }
}

