@import "../styles/index";
page {
  background-color: $background-color-body;
}
.{$prefix}-card {
  position: relative;
  font-size: $size-font-base;
  margin: $margin-base;
  //border: $card-border-width solid $border-color-base;
  hairline(radius=$border-radius-small);
  background-color: $card-bg;
  &-header {
    position: relative;
    padding: $padding-base;
    hairline('bottom');
  }
  &-body {
    padding: $padding-base;
  }
  &-footer {
    font-size: $size-font-small;
    color: $subsidiary-color;
  }
  &&-full {
    margin: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
  }
}

