@import "../styles/index";


.{$prefix}-card {
  color: $color-text-base;
  position: relative;
  font-size: $font-size-base;
  margin: $margin-base;
  padding: 0 $padding-large;
  background-color: $card-bg;
  &-header {
    position: relative;
    padding: $padding-large 0;
    font-size: $font-size-large;
    font-weight: $font-weight-heading;
    hairline('bottom');
  }
  &-body {
    padding: $padding-large 0;
  }
  .{$prefix}-card-footer {
    font-size: $font-size-sm;
    color: $color-text-secondary;
  }
  &&-full {
    margin: 0;
    border-radius: 0;
  }
}
