@import "../styles/index";

$gridPrefixCls = $prefix + '-grid';
$flexPrefixCls = $prefix + '-flexbox';

.{$gridPrefixCls} {
	.{$flexPrefixCls} {
		background: $background-color-base;
	}

	&.{$gridPrefixCls}-line {
		position: relative;
		.{$flexPrefixCls} {
			position: relative;
			hairline('bottom');
		}
	}
}
