@import "../styles/index";

$gridPrefixCls = $prefix + '-grid';
$flexPrefixCls = $prefix + '-flexbox';

.{$gridPrefixCls} {
	position: relative;
	hairline('top');
	.{$flexPrefixCls} {
		background: $background-color-base;
	}
}
