@import "../styles/index"

$accordionPrefixCls = $prefix + '-accordion';

.{$accordionPrefixCls} {
	position: relative;
	hairline('top');

	&-item{
		.{$accordionPrefixCls}-header {
			position: relative;
			color: $color-text-base;
			font-size: $font-size-heading;
			box-sizing: content-box;
			height: $list-item-height;
			line-height: $list-item-height;
			background-color: $background-color-base;
			padding-left: $h-spacing-lg;
			padding-right: 2 * $h-spacing-lg;
			hairline('bottom');

			.icon {
				display: block;
				position: absolute;
				top: $h-spacing-lg;
				right: $h-spacing-lg;
				width: 30rpx;
				height: 30rpx;
				background-size: contain;
		        background-repeat: no-repeat;
		        background-position: 50% 50%;
		        transform: rotate(90deg);
		        transition: transform .2s ease;
			}
			&.expanded {
				.icon {
					transform: rotate(-90deg);
				}
			}
		}

		.{$accordionPrefixCls}-content {
			position: relative;
			background: $background-color-base;
			display: block;

			.{$accordionPrefixCls}-content-box{
				font-size: 30rpx;
				color: $color-text-paragraph;
				position: relative;
				hairline('bottom');

				.{$prefix}-list-body{
					hairline-remove('top');
				}
			}
			&.{$accordionPrefixCls}-content-inactive {
				display: none;
			}
		}

	}
}
