@import "../styles/index";
@import "../styles/mixins/hairline.styl";

$prefixCls = $prefix + '-radio'

.{$prefixCls}-item{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: 1;
	padding-right: 10rpx;

	&-title{
		line-height: 1.5;
		width: auto;
	}

	&-extra{
		font-size: 30rpx;
	}

	.default{
		color: $brand-color-primary;
		font-size: 30rpx;
	}
	.disabled{
		color: $color-text-disabled;
		font-size: 30rpx;
	}

}
