@import "../styles/default";

.{$prefix}-button-wrap {
  padding: $padding-base;
  .{$prefix}-button {
    background-color: $btn-primary-bg;
    color: white;
    font-size: $size-font-base;
    padding: $btn-padding-base;
    &-small {
      padding: $btn-padding-small;
    }
    &-large {
      padding: $btn-padding-large;
    }
    &-circle {
      border-radius: 100rpx;
    }
  }
}