@import "../styles/index"
@import "../styles/mixins/animation";

$toastPrefixCls = $prefix + '-toast'

.{$toastPrefixCls}{

	position: fixed;
	width: 100%;
	z-index: $zindex-toast;
	font-size: $size-font-base;
	text-align: center;

	> span {
		max-width: 50%;
	}

	&&-mask{
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 0;
		top: 0;
		visibility: hidden;
	}

	&&-show{
		visibility: visible;
		transition: all 3000 ease-in-out;
	}

	&&-nomask{
		position: fixed;
		max-width: 50%;
		width: auto;
		left: 50%;
		top: 50%;
	}

	&-text{
		min-width: 200rpx;
		border-radius: $border-radius-sm;
		color: $color-text-base-inverse;
		background-color: $toast-background;
		line-height: $line-height-paragraph;
		padding: $v-spacing-md $h-spacing-lg;
		transition: all 150ms ease-in-out;
		visibility: hidden;
		opacity: 0;

		&-icon{
			border-radius: $radius-md;
			padding: $v-spacing-lg $h-spacing-lg;

			.{$toastPrefixCls}-text-info{
				margin-top: $v-spacing-sm;
			}

		}

		&&-show{
			opacity: 1;
			visibility: visible;
		}
	}

	&-loading{
		margin: 18rpx 0;
		display: inline-block;
    vertical-align: middle;
    width: 46rpx;
    height: 46rpx;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
		border-color: #fff #fff #fff $brand-color-primary;
		animation: loading 0.8s linear;
		animation-iteration-count: infinite;
	}
}

@keyframes loading {
    0% {
        transform: rotate(0);
		transform-origin: center center;
    }
    100% {
        transform: rotate(360deg);
		transform-origin: center center;
    }
}
