// 项目前缀
$prefix                 			= 'mit';

// 基本单位
$bu 								= 1rpx;		// 小程序单位（*px  rpx ）

// 全局/品牌色
$brand-color-primary          		= #FF6B22;
$brand-color-red                    = #EC0D33;
$brand-color-yellow                 = #FFC70A;
$brand-color-green                  = #25C38D;
$brand-color-blue                   = #1B9CFF;
$brand-color-dark-blue              = #3F63C6;
$brand-color-primary-tap			= $brand-color-primary * 0.95;
$brand-color-info         			= #2db7f5;
$brand-color-success       			= #10BC66;
$brand-color-warning          		= #FF9900;
$brand-color-error            		= #ED3F14;

// 文字色
$color-text-base					= #333;          	// 基本
$color-text-base-inverse			= #fff;          	// 基本 - 反色
$color-text-secondary				= #666;       	    // 辅助色
$color-text-placeholder				= #ccc;          	// 文本框提示
$color-text-disabled				= #bbb;          	// 失效
$color-text-caption					= #999;          	// 辅助描述
$color-text-paragraph				= #333;          	// 段落
$color-link 						= $brand-color-primary;   // 链接
$color-link-hover       			= tint($color-link, 20%);
$color-link-active     				= shade($color-link, 5%);
$color-selected         			= darken($brand-color-primary, 90%);

// 透明度
$opacity							= 0.4; 				//普通透明度
$opacity-disabled					= 0.3; 				//禁用时的透明度

// 填充背景色
$background-color-base  			= #fff;  			//组件背景色
$background-color-body				= #f8f8f8;			//页面背景色
$background-color-mask				= rgba(0, 0, 0, $opacity); //遮罩背景色
$background-color-icon 				= #ccc;		// 图标背景色
$background-color-tap				= #ddd;			// 组件背景 -按下
// 边框颜色
$border-color-base      			= #dddeee;  // outside

// Size
$size-grid-icon         			= 28 * $bu;
$size-font-base         			= 32 * $bu;
$size-font-small        			= 28 * $bu;
$size-font-large                    = 40 * $bu;

// Avatar
$avatar-bg              			= #ccc;
$avatar-color           			= #fff;
$avatar-size-base       			= 32 * $bu;
$avatar-size-lg         			= 40 * $bu;
$avatar-size-sm         			= 24 * $bu;
$avatar-font-size-base  			= 18 * $bu;
$avatar-font-size-lg    			= 24 * $bu;
$avatar-font-size-sm    			= 14 * $bu;
$avatar-border-radius   			= $border-radius-small;
$border-radius-sm    			    = 6 * $bu;
$border-radius-base                 = 12 * $bu;
$border-radius-lg                   = 18 * $bu;

// 动画缓动
$animation-time         			= .3s;
$transition-time        			= .2s;
$ease-in-out            			= ease-in-out;

// Z-index
$zindex-spin            			= 8;
$zindex-affix           			= 10;
$zindex-back-top        			= 10;
$zindex-select          			= 900;
$zindex-modal           			= 1000;
$zindex-message         			= 1010;
$zindex-notification    			= 1010;
$zindex-tooltip         			= 1060;
$zindex-transfer        			= 1060;
$zindex-loading-bar     			= 2000;
$zindex-spin-fullscreen 			= 2010;
$zindex-action-sheet    			= 2020;
$zindex-toast						= 2030;
$zindex-toptips						= 3000;

$card-bg                			= #fff;
$card-border-radius     			= 10 * $bu;
$card-border-width      			= 1 * $bu;


$column = 24;

$padding-small          			= 12 * $bu;
$padding-base           			= 18 * $bu;
$padding-large          			= 24 * $bu;
$padding-x-large          			= 30 * $bu;
$padding-xx-large          			= 36 * $bu;

$margin-small           			= 12 * $bu;
$margin-base            			= 18 * $bu;
$margin-large           			= 24 * $bu;
$margin-x-large            			= 30 * $bu;
$margin-xx-large        			= 36 * $bu;
$border-width-base      			= 1 * $bu;
$border-width-lg                    = 6 * $bu;

// 字体尺寸
$font-size-heading 					= 30 * $bu;
$font-size-base						= 28 * $bu;
$font-size-sm						= 24 * $bu;
// 间距
// ---
// 水平间距
$h-spacing-sm						= 10 * $bu;
$h-spacing-md						= 16 * $bu;
$h-spacing-lg						= 30 * $bu;

//垂直间距
$v-spacing-xs						= 6 * $bu;
$v-spacing-sm						= 12 * $bu;
$v-spacing-md						= 18 * $bu;
$v-spacing-lg						= 30 * $bu;
$v-spacing-xl						= 42 * $bu;

// 高度
// ---
$line-height-base 					= 1;           // 单行行高
$line-height-paragraph 				= 1.3;    // 多行行高

// 组件变量
// ---
// 按钮
$btn-font-weight        			= normal;
$btn-padding-base       			= 6*$bu 15*$bu;
$btn-padding-large      			= 6*$bu 15*$bu 7*$bu 15*$bu;
$btn-padding-small      			= 2*$bu 7*$bu;
$btn-font-size          			= 12 * $bu;
$btn-font-size-large    			= 14 * $bu;
$btn-border-radius      			= 4 * $bu;
$btn-border-radius-small			= 3 * $bu;
$btn-group-border       			= shade($brand-color-primary, 5%);

$btn-disable-color      			= #bbbec4;
$btn-disable-bg         			= $background-color-base;
$btn-disable-border     			= $border-color-base;

$btn-default-color      			= $text-color;
$btn-default-bg         			= $background-color-base;
$btn-default-border     			= $border-color-base;

$btn-primary-color      			= #fff;
$btn-primary-bg         			= $brand-color-primary;

$btn-ghost-color        			= $text-color;
$btn-ghost-bg           			= transparent;
$btn-ghost-border       			= $border-color-base;

$btn-circle-size-large  			= 48 * $bu;
$btn-circle-size        			= 44 * $bu;
$btn-circle-size-small  			= 40 * $bu;
// action-sheet
$actionsheet-item-height			= 100 * $bu;
$actionsheet-item-font-size			= 36 * $bu;
// rate-star
$rate-star-color        			= #f5a623;
// tooltip
$tooltip-color          			= #fff;
$subsidiary-color       			= #80848f;

$notice-bar-background-color        = #FFF4E1;
$notice-bar-text-color              = #FF6B22;

// toast
$toast-background 					= rgba(58, 58, 58, 0.9); // toast, activity-indicator 的背景颜色


//switch

$switch-size-base                   = 50 * $bu;
$switch-size-large                  = 60 * $bu;

//badge
$badge-size                         = 14 * $bu;
$badge-color                        = red;
$badge-number-padding               = 3 * $bu 6 * $bu;

//tag
$tag-font-size                      = 20 * $bu;
$tag-padding                        = 2 * $bu 10 * $bu;
$tag-border-radius                  = 4 * $bu;

//tab
$tab-active-bottom-width            = 30 * $bu;

//alert
$alert-border-radius                = 4 * $bu;

//progress
$progress-height                    = 15 * $bu;

//button
$hover-percent                      = 0.95;

$shadow-color                       = rgba(0, 0, 0, 0.15);
