@import "../styles/index";
@import "../styles/mixins/hairline.styl";


.{$prefix}-notice-bar {
    position: relative;
    color: $notice-bar-text-color;
    background-color: $notice-bar-background-color;
    font-size: $size-font-small;
    padding: $padding-base;
    overflow: hidden;
    height: 36rpx;
    line-height: 36rpx;
    display: flex;
    .{$prefix}-notice-bar-icon {
        min-width: 20px;
        height: 18px;
        box-sizing:border-box;
    }
    &-wrap {
        display: inline-block;
        position: relative;
        overflow: hidden;
        padding-right: $padding-small;
        flex: 1;
        .{$prefix}-notice-bar-text {
            position: absolute;
            white-space:nowrap;
        }
        .{$prefix}-notice-bar-text-multiple {
            position: inherit;
            white-space:normal;
        }
        &-noicon {
            margin-left: 0;
        }
    }
    &-closable{
        padding-right: 60rpx;
    }
    &-close {
        color: $notice-bar-text-color;
        position: absolute;
        top:10px;
        right:10px;
        background-color: $notice-bar-background-color;
    }
    &-closeable {
        padding-right: $size-font-base;
    }
    &-multiple{
        height: auto;
        line-height: 40rpx;
    }
}
