@import "../styles/index";
@import "../styles/mixins/hairline.styl";


.{$prefix}-notice-bar {
  position: relative;
  color: $notice-bar-text-color;
  background-color: $notice-bar-background-color;
  font-size: $size-font-base;
  padding: $padding-base;
  overflow: hidden;
  .{$prefix}-notice-bar-icon {
    position: absolute;
    padding: $padding-base;
    left: 0;
    top: 0;
  }
  &-inner {
    display: inline-block;
    margin-left: $padding-base + $font-size-base;
    overflow: hidden;
    margin-right: $padding-base * 2;
    .{$prefix}-notice-bar-text {
      display: inline-block;
    }
    &-noicon {
      margin-left: 0;
    }
  }
  &-close {
    color: $notice-bar-text-color;
    position: absolute;
    right: 0;
    top: 0;
    padding: $padding-base;
    background-color: $notice-bar-background-color;
  }
  &-closeable {
    padding-right: $size-font-base;
  }
  .{$prefix}-notice-bar-text-scroll {
    white-space: nowrap;
    animation_keyframes(transition_push_around, 0s, 0s, infinite, both, linear)
  }
}
