@import "../styles/index";
@import "../styles/mixins/hairline.styl";


.{$prefix}-input-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .{$prefix}-input-label {
        font-size: $font-size-base;
        min-width: $font-size-base * 5;
    }
    .{$prefix}-input-margin {
        margin-left: $margin-base;
        display: flex;
        align-items: center;
        flex: 1;
    }
    .{$prefix}-input-no-margin {
        display: flex;
        flex: 1;
    }
    .{$prefix}-input {
        font-size: $font-size-base;
        width: 100%;
        &-radius {
            position: relative;
            padding: $padding-small $padding-base;
            hairline('all', $border-color-base, $border-radius-sm);
        }
    }
    .{$prefix}-input-limit {
        display: flex;
        justify-content: flex-end;
        font-size: $font-size-base;
    }
}
